:root{
    --color: #83BCA9
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aptos", sans-serif;
}

.content{
    height:100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #282B28;
}

.sidebar{
    background-image: url(images/background_image.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 40%;
}

.sidebar-content{
    background-color: rgba(0,0,0, 0.6);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin-top: 10vh;
}

.sidebar-content img{
    width: 10rem;
    height: 10rem;
    /* padding-right: 3rem; */
    /* border: 3px white solid; */
}

.sidebar-content p{
    padding-left: 1.4rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 700;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0 5rem;
}

.catchupPhrase{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 3rem;
    color: var(--color);
}

.catchupPhrase p{
    margin-top: 3rem;
}

.formContent{
    color: var(--color);
    border-top: 1px solid #d36135;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

#formSection{
    display: flex;
    justify-content: flex-start;
    align-content: center;    
    flex-wrap: wrap;
    gap: 2rem;
}

.input{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0.5rem;
}

.inputText{
    border-radius: 0.2rem;
    box-shadow: none;
    border: 0.5px solid grey;
    margin-top: 0.2rem;
    /* width: 80%; */
    font-size: 1.5rem;
    /* color: var(--color); */
}

.inputText:focus{
    border: 1.5px solid #d36135;
}

.input label{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--color)
}

.btn{
    width: 30%;
    margin-top: 3rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #282B28;
    color: var(--color);
    border: 2px solid #d36135;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.loginPhrase{
    font-size: 1.5rem;
}

.loginLink{
    text-decoration: none;
    color: #d36135;
}

/* .loginLink:visited{
    text-decoration: none;
} */